body {
    background: linear-gradient(45deg, #291bff, #9f00ff);
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    background: white;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

.row {
    display: flex;
    gap: 10px;
}

.input-group {
    flex: 1;
}

textarea {
    height: 80px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    background: linear-gradient(45deg, blue, purple);
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    opacity: .7;
}