body {
    font-family: Arial;
    background: #f2f7ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    background: white;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin: 8px 0 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    resize: none;
}

.btn-area {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: white;
    background: #007bff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.reset-btn {
    background: gray;
}